.button {
  background-color: red;
  color: white;
  border-radius: 0.4em;
  font-weight: 500;
  padding: 0.4em;
  border: 0.2em solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &.--yellow {
    background-color: yellow;
    color: black;
  }

  &.--break,
  &.--green {
    background-color: limegreen;
    // color: black;
  }

  &.--reset {
    background-color: #FFA461;
  }
}
